@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

button {
    border: none;
    cursor: pointer;
}

.box {
    height: 100%;
    margin: 5%;
}

form > button{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}