:root{
    --selector-position: -40vw;
}


*{
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

nav {
    height: 100px;
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255,255,255,0.);
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

nav ul li{
    width: 10vw;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.nav-item#nav-home:hover~#selector,
.nav-item:first-child.active~#selector{
    left: var(--selector-position);
}

.nav-item#nav-movies:hover~#selector,
.nav-item:nth-child(2).active~#selector{
    left: calc(var(--selector-position) + 10vw);
}

.nav-item#nav-profile:hover~#selector,
.nav-item:nth-child(3).active~#selector{
    left: calc(var(--selector-position) + 20vw);
}

.nav-item:nth-child(4):hover~#selector{
    left: calc(var(--selector-position) + 30vw);
}



#selector{
    position: relative;
    left: var(--selector-position);
    top: 30px;
    height: 2px;
    width: 10vw;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 250px;
    min-height: 300px;
    max-height: 500px;
    background: rgba(0,0,0,0.8);
    border: 30px solid rgba(0,0,0,0);
    border-radius: 5px;
}

.login-form input{
    border-radius: 4px;
    border: 0;
    background-color: #333;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 16px;
}

.login-form p{
    font-weight: bold;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: white;
}

.movies-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    overflow-y: scroll;
    padding: 10vh 5vw;
    gap: 10vh;
}

.movie-title{
    margin: 2vh;
}

.movie-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

p.description{
    width: 60%;
    margin: 2vh 0;
}

p.alert{
    color: #c70a14;
}

.sign-in-btn{
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    background: #e50914;
    border: none;
    width: 93%;
    height: 40px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.sign-in-btn:hover{
    background: #c70a14;
}

.profile {
    color: #fff;
}